@import "vars";
@import "fonts";
@import "mixins";

body, .container {
	margin: 0;
	padding: 0;
	color: white;
}

.container {
	height: 100vh;
	position: relative;
	overflow: hidden;

	.icon_sprite {
		display:inline-block;
		overflow:hidden;
		background-repeat: no-repeat;
		background-image:url(/assets/svg/icons.png);
	}
	.download {
		width:26px; 
		height:34px; 
		background-position: -129px -0px;
	}
	.fast_forward {
		width:71px; 
		height:34px; 
		background-position: -0px -34px;
	}
	.headphones {
		width:39px; 
		height:32px; 
		background-position: -90px -0px;
	}
	.pause {
		width:50px; 
		height:67px; 
		background-position: -188px -34px;
	}
	.play {
		width:66px; 
		height:66px; 
		background-position: -122px -34px;
	}
	.rewind {
		width:70px; 
		height:34px; 
		background-position: -155px -0px;
	}
	.show_playlist {
		width:51px; 
		height:44px;
		background-position: -71px -34px;
		display: none;
	}
	.user_icon {
		width:30px; 
		height:30px; 
		background-position: -60px -0px;
	}
	.volume {
		width:29px; 
		height:26px; 
		background-position: -0px -0px;
	}
	.volume_off {
		width:31px; 
		height:27px; 
		background-position: -29px -0px;
	}

	.container-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: cover;
		z-index: -1;
		filter: blur(15px);
		transform: scale(1.1);

		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba(black, 0.77);
		}
	}

	.flex-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		flex-direction: row;
		//box-sizing: border-box;
		
		.song_info {
			font-family: textFont;
			p {
				margin: 0;
			}
			.title {
				color: $app-blue;
			}
		}

		.section {
			// border: green 1px solid;
			width: 400px;
			height: 600px;
			display: flex;
			flex-direction: column;

			.row {
				flex: 1 1 auto;
				// border: green 1px solid;
			}
			/* left artwork section */
			.art {
				flex: 2 1 400px;
				max-height: 400px;

				img {
					width: 100%;
				}
			}
			.slider {
				max-height: 30px !important;
				position: relative;
				display: block;
				
				.player-wrapper {
					&.noUi-target {
					    border-radius: 0;
						border: none;
	    				box-shadow: none;
	    				background: $app-blue-light;
	    				height: 30px;

	    				.noUi-base {
	    					.noUi-origin {
	    						background: $app-blue-dark;
	    						width: auto;
	    						height: auto;
							    right: 0;
							    top: 0;
							    bottom: 0;
	    						.noUi-handle {
			    					display: none;
			    				}
	    					}
	    				}
					}
				}
			}
			.controls {
				flex: 2 1 auto;
				background: #060202;
				background: linear-gradient($yellowGradient, $blackGradient);
				overflow: hidden;
				position: relative;

				.song_info {
					position: relative;
					width: 100%;
					font-family: textFont;
					text-align: center;
					p {
						margin: 0;
					}

					.title {
						color: $app-brownish;
						font-size: 25px;
						margin-top: 15px;
					}
					.artist {
						font-size: 17px;
					}
					.album {
						font-size: 15px;
					}
				}
				.media_icons {
					position: relative;
					width: 100%;
					bottom: 7px;
					text-align: center;
					z-index: 10;
					
					.icon_sprite {
						vertical-align: middle;
						transform: scale(0.6);

						&:hover {
							cursor: pointer;
						}

						@include margin-sides(-6px);
					}
					.rewind {
						
					}
					.play {
						
					}
					.pause {
						@include margin-sides(2px);
						height: 66px;
						display: inline-block;
					}
					.fast_forward {
						
					}
					.volume, .volume_off {
						position: absolute;
						left: 0;
						margin-left: 10px;
						top: 50%;
    					transform: translateY(-50%) scale(0.6);
					}
				}
				.timer {
					position: absolute;
					margin: 0 0 0 -20px;
					opacity: 0.1;
					font-family: timerFont;
					font-size: 180px;
					font-weight: bold;
					letter-spacing: 5px;
					bottom: -65px;
				}
			}
			/* right playlist section */
			.user_info {
				flex: 0 0 80px;
				background: linear-gradient($yellowGradient, $blackGradient);
				font-family: textFont2;
				
				.playlist_close {
					display: none;
				}
				p {
					margin: 0;
				}
				.profile {
					display: flex;
					justify-content: flex-end;
					align-items: center;
					padding-right: 10px;

					* {
						display: inline-block;
						margin: 5px 0 5px 0;
					}
					p {
						font-size: 14px;
						color: #E6E6E6;
					}
					.user_icon {
						transform: scale(0.6);
					}
				}
				.divider {
					margin: 0;
					width: 100%;
					height: 1px;
					background: rgba(255,255,255,0.1)
				}
				.playlist_name {
					padding-right: 15px;
					display: flex;
					justify-content: flex-end;

					p {
						font-weight: bold;
						padding: 5px 0 10px 0;
						font-size: 25px;
						color: $app-brownish;
					}
				}
			}
			.playlist {
				flex: 1 1 auto;
				background: rgba(189, 149, 142, 0.2);
				overflow-y: scroll;
				-webkit-overflow-scrolling: touch;

				.song {
					width: 100%;
					height: 80px;
					background: rgba(0,0,0,.25);
					@include margin-top-bottom(5px);
					position: relative;

					.p-section {
						display: inline-block;
					}

					.icon {
						height: 100%;
						
						.icon_sprite {
							cursor: pointer;
						}
						.headphones {
							position: absolute;
							top: 50%;
							transform: scale(0.6) translateY(-50%);
							margin-left: 10px;
						}
						.pause {
							position: absolute;
							top: 57%;
							transform: translateY(-50%) scale(0.3);
							margin-left: 3px;
						}
						.download-wrapper {
							margin: 0;
						}
						.download {
							position: absolute;
						    transform: scale(0.6) translateY(-50%);
						    top: 50%;
						    margin-left: 50px;
						}
					}
					.song_info {
						text-align: right;
					    position: absolute;
					    right: 90px;
					    top: 50%;
					    transform: translateY(-50%);
					    margin-left: 80px;

						.title {
							font-size: 17px;
						}
						.artist {
							font-size: 15px;
						}
					}
					.artwork {
						position: absolute;
						right: 0;
						top: 50%;
					    transform: translateY(-50%);
					    display: inline-flex;
					}
					img {
						width: 65px;
						height: 65px;
						margin-right:  10px;
					}
				}
			}
			.addSong {
				flex: 0 0 60px;
				background: linear-gradient($yellowGradient, $blackGradient);
				padding: 15px;

				input {
					border: rgba(220,220,220, .25) dashed 2px;
					background: transparent;
					width: 100%;
					height: 100%;
					font-family: textFont2;
					font-size: 40px;
					color: rgba(255, 255, 255, .1);
					text-align: right;

					&::placeholder {
						color: rgba(255, 255, 255, .1);
					}
				}
			}
		}
	}

	@include mobile {

		.show_playlist {
			display: inline-block;
		    right: 0;
		    position: absolute;
		    bottom: 0;
		    transform: scale(0.7) !important;
		}
		
		.flex-container {
			width: 200vw;
			
			.section {
				width: 100vw;
				height: 100%;

				//left section
				.art {
					width: 100vw;
					text-align: center;
					max-height: 50vh;

					img {
						width: 40vh;
					    margin-top: calc(10vh * .5);
					}	
				}

				.controls {
					display: flex;
					flex-direction: column;
					justify-content: space-around;

					.media_icons {
						bottom: 20px;
						.icon_sprite {
						    transform: scale(0.9);
						    margin-left: 8px;
						    margin-right: 8px;
						}
					}

					.timer {
						font-size: 200px;
					}
				}

				.user_info {
					.playlist_close {
						display: inline-block;
						position: absolute;
						margin: 5px 0 5px 10px;
						color: white;
						font-family: "Arial";
					}
				}
			}
			
			.controls_section {
				transition: margin 0.4s ease-out;
			}

			.section_playlist {
				// position: absolute;
			}

		}
	}
}