/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:1b1375af528f21e378d0759899ea496c:5ba1db5caf009288869688e11cd3712f:06f6c5e2f6f9874b9f137ec2f74b9c23$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(icons.png);}

.fast_forward {width:71px; height:34px; background-position: -0px -132px}
.headphones {width:39px; height:32px; background-position: -59px -0px}
.play {width:66px; height:66px; background-position: -0px -32px}
.rewind {width:70px; height:34px; background-position: -0px -98px}
.user_icon {width:30px; height:30px; background-position: -29px -0px}
.volume {width:29px; height:26px; background-position: -0px -0px}
